@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000e0f;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

svg.star-svg {
display: inline;
width: 24px;
}